<ng-container *ngIf=" pageSkin=='business'">
    <app-profile-business></app-profile-business>
</ng-container>
<ng-container *ngIf=" pageSkin=='card'">
    <app-profile-card></app-profile-card>
</ng-container>
<ng-container *ngIf=" pageSkin=='light'">
    <app-profile-light></app-profile-light>
</ng-container>
<ng-container *ngIf=" pageSkin=='minimal'">
    <app-profile-minimal></app-profile-minimal>
</ng-container>
<ng-container *ngIf=" pageSkin=='post'">
    <app-profile-post></app-profile-post>
</ng-container>
<ng-container *ngIf=" pageSkin=='social'">
    <app-profile-social></app-profile-social>
</ng-container>